.doughnut-salary-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #2e2f3d;
  border-radius: 10px;
}

.doughnut-salary-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #2e2f3d;
  border-radius: 10px;
  width: 45%;
}

.doughnut-salary-container p {
  position: absolute;
  color: white;
}

.doughnut-salary-container p:nth-child(1) {
  letter-spacing: 1px;
  background-image: linear-gradient(40deg, rgba(51,123,190,0.98) 3%, rgba(51,190,160,1) 100%);
  position: absolute;
  top: 15px;
  font-weight: 800;
  -webkit-text-fill-color: transparent; 
  -webkit-background-clip: text;
}

.doughnut-salary-container p:nth-child(3) {
  color: rgba(51,123,190,0.98);
  font-size: 30px;
  font-weight: 800;
  position: absolute;
  bottom: 60px;
}

.doughnut-salary-container p:nth-child(4) {
  position: absolute;
  bottom: 10px;
  background-image: linear-gradient(40deg, rgba(51,123,190,0.9839286056219363) 3%, rgba(51,190,160,1) 86%);
  position: absolute;
  font-weight: 800;
  -webkit-text-fill-color: transparent; 
  -webkit-background-clip: text;
}