@use "src/base";

.date-container {
  display: flex;
  align-items: center;
  color: base.$blue-base;
}

.date-container button {
  all: unset;
  font-size: 25px;
  margin-top: 5px;
  padding: 0px 5px;

  &:hover {
    cursor: pointer;
  }  
}

.date-container button:nth-child(1) {
  transform: rotate(180deg);
  margin-bottom: 5px;
  margin-top: 0px;
}
