@use 'src/base';

.expend-categories {
  all: unset;
  width: 320px;
  background-color: #232430;
  height: 40px;
  text-align: center;
  color: base.$white-text;
  margin-top: 13px;
  border-radius: 10px;
  transition: 0.2s ease-in;
}

.expend-categories:nth-child(1) {
  margin-top: 0px;
}

.expend-categories:hover {
  background-color: #1f2029;
  transition: 0.2s ease-in;
}

ul {
  all: unset;
  @include base.flex-center;
  flex-wrap: wrap;
  width: 320px;
}

.expend-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1f2029;
  width: 300px;
  height: 20px;
  padding: 5px 0px 5px 10px;
  font-size: 13px;
  margin-top: 5px;
  color: base.$white-text; 
  border-radius: 10px;
}

.expend-item span {
  margin-right: 10px;
  position: relative;
}

.expend-item button {
  all: unset;
  opacity: 0;
  height: 15px;
  transition: 0.1s ease-in;
  color: rgba(255, 0, 0, 0.8);
}

.expend-item:hover button {
  cursor: pointer;
  transition: 0.3s ease-in;
  opacity: 1;
}

.expend-item p {
  color: base.$white-text;
  position: absolute;
  right: 0px;
  bottom: -9px;
  transition: 0.3s ease-in;
}

.expend-item:hover p {
  transition: 0.2s ease-in;
  transform: translateX(-23px);
}
