@use 'src/base';

.dashboard-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.dashboard-page-content {
  display: flex;
  align-items: center;
  height: calc(100% - 65px);
  width: 1300px;
}

aside {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: calc(100% - 65px);
}

.create-expend-button {
  @include base.button;
  font-size: 15px;
  height: 40px;
  width: 100%;
  margin-bottom: 20px;
}

.charts-container {
  margin-left: 30px;
  width: 500px;
  flex: 5;
}

.doughnuts-container {
  display: flex;
  justify-content: space-between;
}

.chart-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
  width: 100%;
}