@use 'src/base';

.dashboard-page {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: min(100% - 4em, 1300px);
  margin-inline: auto;
}

.dashboard-page-content {
  display: flex;
  align-items: baseline;
  margin: 2.5em 0px;
  height: calc(100vh - 70px - 5em);
  width: 100%;
}

aside {
  flex: 1;
  height: 600px;
}

.create-expend-button {
  @include base.button;
  font-size: 15px;
  height: 40px;
  width: 320px;
  margin-bottom: 18px;
}

.charts-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 30px;
  width: 100%;
  flex: 5;
}

.doughnuts-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.chart-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;
}

.bar-chart-container {
  height: 100%;
}