.wallet-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.wallet-page > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
  flex: 3;
}

.create-expend-button {
  color: #f1f0f0;
  height: 40px;
  width: 100%;
  margin-top: 20px;
  background-color: #4685c1;
  border-radius: 10px;
  transition: 0.5s;
}

.create-expend-button:hover {
  cursor: pointer;
  background-color: #337bbe;
  transition: 0.5s;
}

aside {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
  margin: 20px;
}

h1 {
  font-size: 90px;
  color: #4685c1;
}