.wallet-page {
  width: 100vw;
  height: 100vh;
}

.wallet-page-content {
  display: flex;
  align-items: center;
  height: calc(100% - 65px);
  width: 1300px;
  margin-left: 105px;
}

.create-expend-button {
  color: #f1f0f0;
  height: 40px;
  width: 100%;
  margin-top: 20px;
  background-color: #2e7ec8;
  border-radius: 10px;
  transition: 0.5s;
  border: none;
}

.create-expend-button:hover {
  cursor: pointer;
  background-color: #277ac7;
  transition: 0.5s;
}

aside {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: calc(100% - 65px);
  margin: 20px;
}

.wallet-page-content div {
  flex: 4;
}

.charts-container {
  margin-left: 30px;
  width: 500px;
}

.doughnuts-container {
  display: flex;
  justify-content: space-between;
}

.chart-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}