.register-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #171821;
}

.register-welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 65vw;
  position: relative;
}

.register-welcome h1 {
  z-index: 1;
  font-size: 70px;
  color: #4685c1;
  margin-bottom: 30px;
}

.register-welcome p {
  z-index: 1;
  font-size: 22px;
  color: #4686c1d1;
}

.register-form-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  width: 35vw;
  padding-right: 50px;
}

.register-page aside > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 410px;
  width: 370px;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  width: 80%;
  height: 100%;
  border-radius: 8px;
}

.register-page label {
  height: 15%;
  margin-top: 30px;
  background-color: transparent;
  color: #9d9faeb6;
  font-size: 15px;
  font-weight: 700;
  position: relative;
}

.register-page hr {
  height: 3px;
  background-color: #9d9faeb6;
  width: 98%;
  bottom: -15px;
  border: none;
  position: absolute;
}

.register-page input:-webkit-autofill {
  background-color: transparent;
}

.register-page input {
  all: unset;
  height: 100%;
  background-color: transparent;
  margin-left: 5px;
  width: 100%;
  font-size: large;
  padding: 0;
  color: #f1f0f3;
}

.register-page .form-error {
  position: absolute;
  top: 330px;
  color: #e55959;
  margin-top: 5px;
  font-size: 10px;
}

.register-page form button {
  margin-top: 50px;
  background-color: #4685c1;
  color: #dcdbdf;
  font-size: 15px;
  height: 60px;
  border-radius: 10px;
  transition: 0.2s;
}

.register-page form button:hover {
  background-color: #4f8fca;
  transition: 0.2s;
  cursor: pointer;
}
