@use "src/base";

.signup-page {
  @include base.flex-center;
  height: 100vh;
  width: 100vw;
}

.signup-welcome {
  @include base.flex-center;
  flex-direction: column;
  position: relative;
  flex: 3;
  height: 100vh;
  width: 65vw;
}

.signup-welcome h1 {
  font-size: 70px;
  margin-bottom: 30px;
  color: base.$blue-base;
}

.signup-welcome p {
  font-size: 22px;
  color: base.$blue-base;
}

.signup-form-side {
  @include base.flex-center;
  flex: 1;
  margin-right: 5%;
}

.signup-page aside > div {
  @include base.flex-center;
  flex-direction: column;
  height: 370px;
  width: 320px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 100%;
}

.signup-form label {
  @include base.sign-form-label;
}

.signup-form input {
  @include base.sign-form-input;
}

.signup-form hr {
  @include base.sign-form-hr;
}

.signup-form .form-error {
  @include base.form-error;
  top: 210px;
}

.signup-form button {
  @include base.button;
  margin-top: 25px;
  font-size: 15px;
  height: 45px;
}

aside p {
  text-align: center;
  color: base.$light-gray;
  margin: 10px 0px 10px 0px;
}

.signin-button {
  @include base.button;
  font-size: 15px;
  height: 60px;
  width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
  box-shadow: 0 0 0 30px #171821 inset !important;
  -webkit-text-fill-color: #f1f0f3 !important;
}
