@use "src/base";

.darker-background {
  @include base.modal-background;
}

.salary-form {
  @include base.flex-center-column;
  justify-content: space-around;
  background-color: base.$light-black-base;
  position: relative;
  border-radius: 8px;
  height: 150px;
  width: 270px;
  padding: 35px;
}

.salary-form > h3 {
  color: base.$blue-base;
  height: 10px;
  margin-bottom: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

.salary-form input {
  all: unset;
  width: 260px;
  height: 30px;
  background-color: #1a1b22;
  border-radius: 10px;
  text-align: start;
  margin-top: 10px;
  padding-left: 10px;
  color: base.$white-text;
}

.salary-form .form-error {
  @include base.form-error;
  top: 125px;
}

.salary-form button {
  @include base.button;
  margin-top: 10px;
  height: 30px;
  width: 190px;
}