@use "src/base";

.darker-background {
  @include base.modal-background;
}

.salary-form {
  background-color: #22232f;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-around;
  position: relative;
  border-radius: 8px;
  text-align: center;
  height: 150px;
  width: 270px;
  padding: 35px;
  color: rgb(243, 243, 243);
}

.salary-form > h3 {
  color: #4685c1;
  height: 10px;
  margin-bottom: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

.salary-form input {
  all: unset;
  width: 260px;
  height: 30px;
  background-color: #1a1b22;
  border-radius: 10px;
  text-align: start;
  margin-top: 10px;
  padding-left: 10px;
  color: rgba(213, 212, 212, 0.787);
}

.salary-form .form-error {
  position: absolute;
  top: 120px;
  color: #e55959;
  margin-top: 5px;
  font-size: 10px;
}

.salary-form button {
  all: unset;
  height: 30px;
  width: 190px;
  margin-top: 20px;
  background-color: #4685c1;
  border-radius: 10px;
  transition: 0.5s;
}